@using OrganizationEmployeeBaseWebApp.Models.EmployeeViewModels;
@model CreateEmployeeViewModel

<form class="createEmployeeForm" asp-controller="Employees" asp-action="CreateEmployee" method="post">
    <div class="mb-4">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label asp-for="Patronymic"></label>
        <input asp-for="Patronymic" class="form-control">
        <span asp-validation-for="Patronymic" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label asp-for="DateOfBirth"></label>
        <input asp-for="DateOfBirth" class="form-control">
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label asp-for="PassportSeries"></label>
        <input asp-for="PassportSeries" class="form-control">
        <span asp-validation-for="PassportSeries" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label asp-for="PassportNumber"></label>
        <input asp-for="PassportNumber" class="form-control">
        <span asp-validation-for="PassportNumber" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label asp-for="OrganizationId"></label>
        <input asp-for="OrganizationId" class="form-control" readonly>
        <span asp-validation-for="OrganizationId" class="text-danger"></span>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Создать</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
    </div>
</form>
